/* iphone se */
@media all and (max-width: 350px) and (min-width: 300px) {
  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .75em;
    justify-content: center;
    border-style: solid;
    border-width: .1em;
    border-color: white;
    width: 18em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .75em;
    margin-right: .75em;
    margin-top: .5em;
    font-size: 1em;
  }

  .countword {
    margin-top: -.5em;
    font-size: .75em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 1em;
  }

  .expired {
    font-size: 1em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}


/* galaxy and iphone 6/7/8 and x*/
@media all and (max-width: 400px) and (min-width: 350px) {

  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .75em;
    justify-content: center;
    border-style: solid;
    border-width: .1em;
    border-color: white;
    width: 18em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .75em;
    margin-right: .75em;
    margin-top: .5em;
    font-size: 1em;
  }

  .countword {
    margin-top: -.5em;
    font-size: .75em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 1em;
  }

  .expired {
    font-size: 1em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}


/* iphone 6/7/8/ plus and pixel and pixel xl*/
@media all and (max-width: 500px) and (min-width: 400px) and (max-height: 750px) and (min-height: 699px) {

  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .75em;
    justify-content: center;
    border-style: solid;
    border-width: .1em;
    border-color: white;
    width: 18em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .75em;
    margin-right: .75em;
    margin-top: .5em;
    font-size: 1em;
  }

  .countword {
    margin-top: -.5em;
    font-size: .75em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 1em;
  }

  .expired {
    font-size: 1em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}


/* pixelxl */
@media all and (max-width: 500px) and (min-width: 400px) and (max-height: 900px) and (min-height: 749px) {
  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .75em;
    justify-content: center;
    border-style: solid;
    border-width: .2em;
    border-color: white;
    width: 23em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .75em;
    margin-right: .75em;
    margin-top: .25em;
    font-size: 2em;
  }

  .countword {
    margin-top: -.5em;
    font-size: .75em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 2em;
  }

  .expired {
    font-size: 2em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}



/* web */

@media all and (min-width: 700px) {

  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 150%;
    justify-content: center;
    border-style: solid;
    border-width: 10%;
    border-color: white;
    width: 50%;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 300%;
  }

  .countword {
    margin-top: -15%;
    font-size: 120%;
  }

  .colon {
    font-size: 300%;
  }

  .expired {
    font-size: 150%;
    color: rgb(126, 49, 49);
    border: 5% solid rgb(126, 49, 49);
    padding: 150%;
  }
}


/* (max-width: 1400px) and  */